<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gluten:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<input type="checkbox" id="checkbox">
<label for="checkbox">
</label>
<ul>
      <li><a  routerLink="/">All Employees</a></li>
    <li><a routerLink="/covid-responce-form">Apply for Benefits</a></li>
    <li><a routerLink="/dashboard">All Affected Employees</a></li>
    <!-- <li><a routerLink="/manage">Change Status of Affected</a></li> -->
    
  </ul>