<!-- <p>manage works!</p>
<div>
    <table style="width:100%" id="employees">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>City</th>
          <th>Project</th>
          <th>Gender</th>
          <th>Applying Date</th>
          <th>Days Affected</th>
          <th>Status</th>
          <th>Document</th>
        </tr>
        <tr *ngFor="let v of victimsArr">
          <td>{{v.employee.id}}</td>
          <td>{{v.employee.name}}</td>
          <td>{{v.employee.city}}</td>
          <td>{{v.employee.project}}</td>
          <td>{{v.employee.gender}}</td>
          <td>{{v.affectedDate}}</td>
          <td>{{v.sickLeaves}}</td>
          <td>{{v.status}}</td>
          <td>{{v.docurl}}</td>
        </tr>
      </table>
</div>
</div> -->
